* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", "monospace";
    font-weight: normal;
    font-size: 12px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
    transition: none;
}

window#waybar {
    background: rgba(15, 15, 15, 0.95); /* soft black */
    color: #e0e0e0; /* soft white */
    opacity: 0.95;
}

tooltip {
    opacity: 0.9;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #222222; /* subtle border */
    background: rgba(20, 20, 20, 0.95);
}

tooltip label {
    color: #e0e0e0;
}

/* ---------------------------
   Workspaces
--------------------------- */
#workspaces {
    padding-left: 5px;
}

#workspaces button {
    color: #e0e0e0;
    background: transparent;
    padding: 0 8px;
    margin: 0 3px;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

#workspaces button:hover {
    color: #ffffff;
    background: transparent;
    border-bottom: 2px solid #ffffff;
}

/* ---------------------------
   Hover underline for all
--------------------------- */
#window:hover,
#cpu:hover,
#disk:hover,
#memory:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#tray:hover,
#temperature:hover,
#bluetooth:hover,
#backlight:hover,
#custom-gpu-usage:hover,
#custom-gpu-temp:hover,
#custom-appmenu:hover,
#custom-powermenu:hover {
    border-bottom: 2px solid #ffffff;
}

/* ---------------------------
   Layout
--------------------------- */
#window,
#cpu,
#disk,
#memory,
#clock,
#battery,
#pulseaudio,
#tray,
#temperature,
#workspaces,
#bluetooth,
#backlight,
#custom-gpu-usage,
#custom-gpu-temp {
    margin-right: 16px;
}

#window {
    margin-right: 20px;
}

#cpu {
    margin-left: 12px;
}

#custom-appmenu {
    margin-left: 16px;
    font-size: 20px;
    color: #e0e0e0;
}

#custom-powermenu {
    margin-right: 20px;
}

/* ---------------------------
   Unified Terminal Colors
--------------------------- */
#battery,
#battery.warning,
#battery.critical,
#temperature.critical,
#backlight,
#pulseaudio,
#bluetooth,
#custom-gpu-usage,
#custom-gpu-temp {
    color: #e0e0e0;
}

#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#backlight-slider trough {
    min-height: 4px;
    min-width: 100px;
    border-radius: 0;
    background-image: linear-gradient(
        to right,
        white 2px,
        transparent 2px
    );
    background-size: 6px 100%;
    background-repeat: repeat-x;
    background-color: transparent;
}

#backlight-slider highlight {
    background-color: #e0e0e0;
    min-height: 4px;
    border-radius: 0;
}
